@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Diaster Alleviation Foundation</h1>
    @{
        if (@Accessor.HttpContext.Request.Cookies["Authenticated"] != null && @Accessor.HttpContext.Request.Cookies["Authenticated"].ToString().Equals("True"))
        {
            <h2>Money Available: R @ViewBag.moneyLeft</h2>
            <div class="container">
                <div class="row justify-content-around">

                    <div class="card m-5 w-25 p-3 mb-2  text-dark" style="box-shadow:darkorange  0px 5px 15px; background: linear-gradient(to bottom, #6E5BFF , #6E5BFF );">
                        <div class="card-body">
                            <p class="card-text">
                                Allocate Money To Disasters<a style="margin:15px" asp-action="MakeAMoneyAllocation" class="btn btn-outline-secondary">Here</a>
                            </p>
                        </div>
                    </div>

                    <div class="card m-5 w-25 p-3 mb-2  text-dark" style="box-shadow: darkorange 0px 5px 15px; background: linear-gradient(to bottom, #6E5BFF , #6E5BFF );">
                        <div class="card-body">
                            <p class="card-text">
                                Allocate Goods To Disasters<a style="margin:15px" asp-action="MakeAGoodsAllocation" class="btn btn-outline-secondary">Here</a>
                            </p>
                        </div>
                    </div>

                    <div class="card m-5 w-25 p-3 mb-2  text-dark" style="box-shadow:darkorange  0px 5px 15px; background: linear-gradient(to bottom, #6E5BFF, #6E5BFF);">
                        <div class="card-body">
                            <p class="card-text">
                                Purchase Goods<a style="margin:15px" asp-action="MakeAPurchase" class="btn btn-outline-secondary">Here</a>
                            </p>
                        </div>
                    </div>

                    <div class="card m-5 w-25 p-3 mb-2  text-dark" style="box-shadow: darkorange 0px 5px 15px; background: linear-gradient(to bottom, #6E5BFF, #6E5BFF);">
                        <div class="card-body">
                            <p class="card-text">
                                Money Donations Available<a style="margin:15px" asp-action="ViewDonationsOfMoney" class="btn btn-outline-secondary">Here</a>
                            </p>
                        </div>
                    </div>

                    <div class="card m-5 w-25 p-3 mb-2  text-dark" style="box-shadow: darkorange  0px 5px 15px; background: linear-gradient(to bottom, #6E5BFF, #6E5BFF);">
                        <div class="card-body">
                            <p class="card-text">
                                Goods Donations Available<a style="margin:15px" asp-action="ViewDonationsOfGoods" class="btn btn-outline-secondary">Here</a>
                            </p>
                        </div>
                    </div>


                    <div class="card m-5 w-25 p-3 mb-2  text-dark" style="box-shadow:darkorange  0px 5px 15px; background: linear-gradient(to bottom, #6E5BFF, #6E5BFF);">
                        <div class="card-body">
                            <p class="card-text">
                                Disasters that are active<a style="margin:15px" asp-action="ViewActiveDisasters" class="btn btn-outline-secondary">Here</a>
                            </p>
                        </div>
                    </div>

                    <div class="card m-5 w-25 p-3 mb-2  text-dark" style="box-shadow:darkorange  0px 5px 15px; background: linear-gradient(to bottom, #6E5BFF, #6E5BFF);">
                        <div class="card-body">
                            <p class="card-text">
                                Add a new Categories<a style="margin:15px" asp-action="AddANewCategoryOfGoods" class="btn btn-outline-secondary">Here</a>
                            </p>
                        </div>
                    </div>

                    <div class="card m-5 w-25 p-3 mb-2  text-dark" style="box-shadow: darkorange 0px 5px 15px; background: linear-gradient(to bottom, #6E5BFF, #6E5BFF);">
                        <div class="card-body">
                            <p class="card-text">
                                Add a new Donation of money<a style="margin:15px" asp-action="MakeAMoneyDonation" class="btn btn-outline-secondary">Here</a>
                            </p>
                        </div>
                    </div>

                    <div class="card m-5 w-25 p-3 mb-2  text-dark" style="box-shadow: darkorange  0px 5px 15px; background: linear-gradient(to bottom, #6E5BFF, #6E5BFF);">
                        <div class="card-body">
                            <p class="card-text">
                                Add a new Donation of good<a style="margin:15px" asp-action="MakeAGoodsDonation" class="btn btn-outline-secondary">Here</a>
                            </p>
                        </div>
                    </div>

                    <div class="card m-5 w-25 p-3 mb-2  text-dark" style="box-shadow:  0px 5px 15px; background: linear-gradient(to bottom, #6E5BFF, #6E5BFF);">
                        <div class="card-body">
                            <p class="card-text">
                                Add a new Disaste<a style="margin:15px" asp-action="AddANewActiveDisaster" class="btn btn-outline-secondary">Here</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        }
        else
        {
            <a class="btn w-50" style="background-color:darkorange" asp-action="AuthorisedUsersLogin">Login</a>
        }
    }
    <a asp-action="publicInfoMoney" type="button" class="btn w-50 mt-4" style="background-color:darkorange">View Money Allocated to Disasters</a>
    

</div>
